* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

/* Header section style start */
header {
    width: 1920px;
    height: 1322px;
    background-color: rgba(255, 144, 14, 0.1);
}

nav {}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 200px;
}

.nav-tittle {
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-options {
    margin-top: 60px;

}

.nav-options a {
    text-decoration: none;
    width: 477px;
    height: 26px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-right: 40px;
    text-align: center;

}

.banner {
    align-items: center;
}

.banner-tittle {
    position: center;
    padding-left: 529px;
    padding-right: 529px;
    padding-top: 100px;
    width: 862px;
    text-align: center;
}

.banner-tittle h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;

}

.banner-tittle p {
    margin-top: 33px;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 868px;
    height: 52px;
}

button {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px, 24px, 20px;
    margin-bottom: 50px;
}


.banner img {
    width: 1440px;
    height: 700px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 45px;
    border-radius: 8px;
}

/* Header section style end  */

/* Quick list of Our Features section style  */

.team {
    display: flex;
}

.team-img {
    display: grid;
    grid-template-columns: 342px 342px;
    row-gap: 24px;
    column-gap: 24px;
    margin-left: 300px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.team img {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}

.team-text {
    width: 537px;
    height: 304px;
    text-align: left;
    margin-top: 332px;
    margin-right: 300px;
    margin-left: 75px;
}

.text-text h3 {
    font-weight: 700;
    font-size: 45px;
    width: 468px;
    height: 106px;
}

.t1 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.t2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.t3 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.team-text p {
    width: 537px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 32px;
    line-height: 26px;
    color: #727272
}

/* Quick list of Our Features section style end  */

/* Features you will love & enjoy section style start  */

.features {
    width: 1440px;
    height: 1059px;
    margin-left: 240px;
    margin-right: 240px;
}


.container {
    display: flex;
}

.tittle {
    width: 468px;
    height: 106px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;

}

.container-tittle p {
    width: 586px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

ul {
    width: 586px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px 42px 30px 30px;
}

ul h4 {
    width: 252px;
    height: 23px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

ul article {
    width: 514px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-top: ;
}

.features-image {
    width: 708px;
    height: 982px;
    margin-left: 145px;
    margin-right: 240px;
}

.features-btn {
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    padding: 45px;
    margin-right: 1000px;
    position: relative;
    bottom: 125px;
    right: 90px;
    z-index: 1;
}

.btn-text-1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}

/* Features you will love & enjoy section style end  */
/* Facts & Sponspors section style start  */
.facts {
    margin-left: 240px;
    margin-top: 130px;
}

.facts h3 {
    width: 258px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.facts p {
    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 100px;
}

.box-container {
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 180px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.box {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    align: center;
}

.box img {
    width: 45.22px;
    height: 45.22px;
    align: center;
    padding-top: 45px;
    padding-left: 98px;
    padding-right: 98px;
    margin-bottom: 10px;
}

.box-h2-1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    padding-left: 93px;
    padding-right: 93px;
    color: #424242;
}

.box-h2-2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    padding-left: 69px;
    padding-right: 69px;
    color: #424242;
}

.box-h2-3 {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    padding-left: 80px;
    padding-right: 80px;
    color: #424242;
}

.box-h2-4 {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    padding-left: 54px;
    padding-right: 54px;
    color: #424242;
}

.box p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
    margin-top: 5px;
}

.Sponspors {

    align-items: center;
    text-align: center;
}

.Sponspors-tittle {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.Sponspors-description {
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 50px;
}

.Sponspors-img {
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 130px;
}

/* Facts & Sponspors section style end  */

/* Footer section style start  */
footer {
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 200px;
}

footer p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 38px 410px 38px;
    color: #424242;
}

/* Footer section style end  */